@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,500;6..12,600;6..12,700;6..12,800;6..12,900;6..12,1000&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --background-color: radial-gradient(
    100% 100% at 50% 0%,
    #0c4c7b 0%,
    #1e2f40 100%
  );
  --text-color: #443737;
  --white-color: #fff;
  --gray-color: #dedede;
  --dark-gray-color: #979797;
  --button-color: #1e2f40;
  --yellow-color: #fbb731;
  --orange-color: #f37335;
  --black-navy-color: #1b2a49;
}
body {
  position: relative;

  font-family: "Nunito Sans", sans-serif;
}
hr {
  padding-top: 10px;
  padding-bottom: 20px;
}
h1 {
  font-size: 20px;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
h2 {
  font-size: 15px;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
.menu-item .item-title {
  border-bottom: 1px solid var(--gray-color);
}
